body {
    background: #222;
    color: #eee;
    padding-top: 2em;
}

.container {
    max-width: 800px;
}

pre.changelog {
    white-space: pre-wrap;
    background: #333;
    padding: .5em;
    border-radius: 4px;
}

.changelog-table {
    width: 100%;
}

.changelog-version {
    font-weight: bold;
    vertical-align: top;
    padding-right: 1em;
}

.changelog-date {
    opacity: .7;
    vertical-align: top;
    padding-right: 1em;
}

.release-container {
    background: #333;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 2em;
}

a {
    color: #4caf50;
}
