body {
    background-color: rgb(39, 37, 28);
    color: wheat;
    padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(119, 107, 54);
}

a {
    color: #00ffbb;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.container {
    max-width: 900px;
    padding: 20px;
}

div.release-container {
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
}

table.changelog-table td {
    padding: 5px;
}

table.changelog-table tr {
    vertical-align: top;
}

pre.changelog {
    color: lime;
    white-space: pre-wrap;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.badge {
    margin-right: 5px;
}
